@font-face {
    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montaguslab/v1/6qLhKZIQtB_zv0xUaXRDWkY_HXsphdLRZF40vm_jzR2jhk_n3T6ACkA8FUP1HM_rOQ.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  .nav{
      width: 100%;
      position: sticky;
      left: 0;
      top: 0;
      box-shadow: 0px 5px 8px rgba(0,0,0,.5);
  }
  .navbar-brand{
      font-weight: 600;
  }
  .nav-link {
      color: white !important;
      border-bottom: 1px solid white transparent;
  }
  .nav-link:hover{
    border-bottom: 1px solid white;
  }

  .box2{
    background-color: hsl(188deg 87% 39%);
  }
  
  .bor1{
      border-bottom: 1px dotted hsl(180deg 100% 93%)!important;
       color: white; 
      
  }
  .third1{
      background-color: hsl(184deg 6% 52%);
  }

.latha{
  color: green;
}
.forth{
    background-color: hsl(169deg 75% 36%);
}



/* form */
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
 
  padding: 20px;
}
.button{
    float: right;
    border:none;
    background-color: hsl(211deg 28% 25%);
    margin: 10px;
    width: 80px;
    border-radius: 5px;
}
.final{
    background-color:hsl(211deg 28% 25%) ;
    margin: 10px;
    padding: 10px;
    color: green;
  
}

.link1{
    color: green;
    float: right;
   
} 
.topbtn{
    color: green;
}
.textcol{
    color: white;
}
